@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  &:focus,
  &:active{
    outline: none;
  }
}
html,
body{
  height: 100%;
}
body{
  background: #EAE9E5;
  color: #2A2539;
}
.form{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 15px 50px 15px;
  gap: 20px;
  textarea{
    min-height: 300px;
    resize: none;
  }
  &__input{
    border: 1px solid #004A43;
    border-radius: 8px;
    min-height: 50px;
    padding: 15px;
  }
  &__btn{
    border: none;
    height: 50px;
    font-size: 16px;
    line-height: 120%;
    font-weight: 500;
    border-radius: 8px;
    background: #004A43;
    color: #EAE9E5;
    cursor: pointer;
    transition: 300ms ease;
    &:active{
      transform: scale(0.99);
    }
  }
}
.breadcrumb{
  max-width: 800px;
  padding: 50px 15px 0 15px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  &__link{
    text-decoration: none;
    color: #004A43;
    font-weight: 500;
    &.inactive{
      opacity: .9;
    }
    &:not(:last-of-type){
      position: relative;
      &::before{
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -12px;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: #004A43;
      }
    }
  }
}
.list{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 15px;
  gap: 20px;
  list-style-type: none;
  &__item{
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px -10px #00000010;
    padding: 15px;
    &-title{
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 12px;
    }
    &-code{
      white-space: break-spaces;
    }
  }
  &__btn{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    background: #004A43;
    text-decoration: none;
    color: #EAE9E5;
    font-size: 16px;
    line-height: 120%;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms ease;
    &:active{
      transform: scale(0.99);
    }
  }
}